<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UploaderTestCSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UploaderTestCSharp.Properties.Settings>
            <setting name="wowDirectory" serializeAs="String">
                <value>C:/Program Files/World of Warcraft</value>
            </setting>
            <setting name="accountNames" serializeAs="String">
                <value />
            </setting>
            <setting name="characterNames" serializeAs="String">
                <value />
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value />
            </setting>
        </UploaderTestCSharp.Properties.Settings>
    </userSettings>
</configuration>